@import "../../../styles/global.scss";

.achievements {
  .title {
    text-align: center;
    font-family: $font-fancy;
    font-size: 40px;
  }
  .achWrapper {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 0 auto;

    .achItem {
      margin: 14px auto;
      background-color: $choco-color;
      color: $background-color;
      width: 90%;
      height: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      opacity: 0.8;
      filter: grayscale(0.2);

      &.achieved {
        opacity: 1;
        filter: grayscale(0);

        .iconWrapper .iconAward {
          font-size: 40px;
          color: gold;
          text-shadow: 2px 2px 4px goldenrod;
        }
      }

      p {
        padding: 0 20px;
        flex: 3;
      }
      h3 {
        flex: 2;

        .iconClick {
          margin-left: 10px;
        }
      }

      .iconWrapper {
        flex: 0.5;
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        .iconAward {
          font-size: 40px;
          color: grey;
        }
      }
    }
  }
}

/********************************************************/

@media (max-width: $tablet-size) {
}

/********************************************************/

@media (max-width: $device-size) {
  .achievements {
    .title {
      font-size: 30px;
    }
    .achWrapper {
      width: 98%;
    }
  }
}

/********************************************************/

@media (max-width: $sm-phone-size) {
  .achievements {
    .title {
      font-size: 20px;
    }
    .achWrapper {
      width: 98%;

      .achItem {
        flex-wrap: wrap;
        p,
        h3,
        .iconWrapper {
          flex: unset;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          width: 100%;
        }
        h3,
        .iconWrapper {
          width: 50%;
        }
      }
    }
  }
}
