@import "../../../styles/global.scss";

.counter {
  width: 45%;
  font-family: $font-fancy;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  color: $choco-color;
  text-align: center;

  div {
    width: 50%;
  }

  h4 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }

  .score,
  .level {
    color: red;
    font-family: $font-text;
    font-weight: 900;
    margin-left: 10px;
  }

  .resetWrapper {
    margin-top: 10px;
    font-family: $font-text;
    font-size: 18px;
    width: 100%;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    .iconOff {
      margin-left: 10px;
      cursor: pointer;
      color: red;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/********************************************************/

@media (max-width: 1024px) {
  .counter {
    width: 80%;
  }
}
@media (max-width: $tablet-size) {
}

/********************************************************/

@media (max-width: $device-size) {
  .counter {
    width: 90%;
  }
}

/********************************************************/

@media (max-width: $phone-size) {
  .counter {
    font-size: 30px;
  }
}

/********************************************************/

@media (max-width: $sm-phone-size) {
  .counter {
    font-size: 26px;
  }
}
