@import "../../../styles/global.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

/********************************************************/
@media (max-width: $tablet-size) {
  .home {
    height: calc(100vh - 80px);
  }
}
