@import "../../../styles/global.scss";

.clicker {
  margin: 30px 0;
  width: 45%;

  &:active {
    animation: pulse 0.1s;
  }

  .splash {
    width: 100%;
    cursor: pointer;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
