@import "../../../styles/global.scss";

.btn {
  padding: 6px 20px;
  border: none;
  text-transform: uppercase;
  border: 2px solid $background-color;
  color: $background-color;
  background-color: inherit;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    border: 2px solid $background-color;
    color: $choco-color;
    background-color: $background-color;
    transition: $transition;
  }
}
