@import "../../../styles/global.scss";

.header {
  height: 80px;
}

.headerContent {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .logo,
  .navlinksWrapper,
  .userSection {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .navlinksWrapper {
    flex: 3;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }
  .userSection {
    flex: 1;
    flex-direction: column;
  }
}
