@import "../../../styles/global.scss";

header {
  height: 80px;
  background-color: $choco-color;
}

.headerContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  .logo,
  .navlinksWrapper,
  .userSection {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 100;
  }

  .logo {
    flex: 1.2;
    font-size: 26px;
    padding: 10px 20px;
    letter-spacing: 4px;
    font-family: $font-fancy;
  }

  .navlinksWrapper {
    flex: 3;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;

    .navLink {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .userSection {
    flex: 1;
    flex-direction: column;

    .signUp {
      padding: 4px;
      margin: 0;
      text-transform: capitalize;
      text-decoration: underline;
      cursor: pointer;
      color: $background-color;
      font-size: 14px;

      &:hover {
        transition: $transition;
        color: green;
      }
    }
  }
  .iconsWrapper {
    width: 80px;
    display: none;
    justify-content: center;
    align-items: center;

    .menuIcon {
      position: absolute;
      font-size: 36px;
      color: $background-color;
    }
  }
}
/********************************************************/

@media (max-width: $tablet-size) {
  .headerContent {
    .navlinksWrapper {
      position: absolute;
      flex-direction: column;
      height: calc(100vh - 80px);
      width: 100vw;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;

      .navLink {
        font-size: 40px;
        background-color: $choco-color;
        border-top: 1px solid $background-color;
      }

      &.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
      }
    }
  }
}

/********************************************************/

@media (max-width: $device-size) {
  .headerContent {
    .logo {
      font-size: 20px;
      letter-spacing: 2px;
    }
    .userSection {
      flex: 0.5;
    }
  }
}

/********************************************************/

@media (max-width: $phone-size) {
  .headerContent {
    .logo {
      font-size: 20px;
    }

    .navlinksWrapper {
      .navLink {
        font-size: 30px;
      }
    }
    .userSection {
      flex: 0.5;
    }
  }
} ;
