@import "./settings.scss";
@import "./typography.scss";
@import "./normalize.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  line-height: 1.5;
  letter-spacing: 2px;
  font-family: $font-text;
  overflow-y: scroll;
  scroll-behavior: smooth;

  a,
  a:visited {
    text-decoration: none;
    color: $background-color;
    transition: $transition;
  }

  a:hover {
    color: white;
    text-shadow: 0 0 4px white;
  }

  a.active {
    text-shadow: 0 0 4px white;
    color: white;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      height: 40px;
      padding: 10px;
      border: $choco-color 1px solid;
      margin-bottom: 10px;
    }

    input::placeholder {
      font-size: 20px;
      color: $choco-color;
    }

    input:focus {
      outline: none;
      color: red;
      background-color: khaki;
    }

    button {
      border: none;
      padding: 10px;
      cursor: pointer;
      background-color: $choco-color;
      color: $background-color;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.widthContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
