/* colors */
$background-color: rgb(245, 245, 220);
$choco-color: rgb(95, 43, 27);
$font-color: rgb(25, 25, 25);
$font-color-hover: blue;

/* fonts */
$font-text: "Lato", sans-serif;
$font-fancy: "Permanent Marker", cursive;

/* others */
$base-size: 10px;
$transition: ease 0.4s;
$radius: 10px;
